body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  height: 68px;
  width: 68px;
  border: 1px solid #999;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 68px;
  /* margin-right: -1px; */
  /* margin-top: -1px; */
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


.TileDetails {
  border: 1px dashed red;
  width: 200px;
}

.zone-0 {
  background-color: #FFF;
}

.zone-1 {
  background-color: yellow;
}

.zone-2 {
  background-color: gold;
}

.zone-3 {
  background-color: grey;
}
